@import "tailwindcss";


body {
    font-family: 'PlusJakartaSans', sans-serif;
    overflow-x: hidden;
  }



  .instrument-font {
    font-family: var(--font-instrument), serif;
}



html {
  overflow-x: hidden;
}


.custom-video-filter {
  filter: grayscale(100%) sepia(50%) hue-rotate(50deg) saturate(150%);
}

.mySwiper .swiper-pagination {
  bottom: 0 !important;
  position: relative !important;
  margin-top: 10px; /* gives breathing space under content */
  text-align: center;
}