@import "tailwindcss";


body {
    font-family: 'PlusJakartaSans', sans-serif;
    overflow-x: hidden;
  }



  .instrument-font {
    font-family: var(--font-instrument), serif;
}



html {
  overflow-x: hidden;
}


.custom-video-filter {
  filter: grayscale(100%) sepia(50%) hue-rotate(50deg) saturate(150%);
}

.mySwiper .swiper-pagination {
  bottom: 0 !important;
  position: relative !important;
  margin-top: 10px; 
  text-align: center;
}
/* Make pagination dots black */
.mySwiper .swiper-pagination-bullet {
  background-color: #c8253b !important; /* default dot color */
  opacity: 0.4 !important;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #c8253b !important; /* active dot color */
  opacity: 1 !important;
}